@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');

/* Gaya umum */
* {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2f2;
}

.container {
    max-width: 800px;
    margin: 20px auto; 
    padding: 20px;
    background-color: #fff;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    overflow: hidden; 
    position: relative; /* Tambahkan ini untuk menempatkan ikon mode di atas */
}

/* Ikon mode dark/light */
.mode-switcher {
    position: absolute;
    top: 10px; /* Atur posisi dari atas */
    right: 10px; /* Atur posisi dari kanan */
}

.mode-switcher button {
    background: none;
    border: none;
    transition: color 0.3s;
    font-size: 32px; /* Ubah ukuran ikon */
    cursor: pointer;
}

/* Gaya untuk header dan sidebar */
.header,
.sidebar,
.site-nav {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    margin-bottom: 30px;
}

/* Gaya untuk header */
.header {
    text-align: center;
}

.header img {
    margin-right: 20px;
    border-radius: 10px; /* Sudut foto ditumpulkan */
    width: 100px; /* Lebar foto */
    height: auto; /* Tinggi disesuaikan agar proporsional */
}

.header h1 {
    margin-top: 0;
    color: #007bff;
    font-size: 24px;
}

.header p {
    color: #666;
    font-size: 16px;
}

.dark-mode .header-text p {
    color: #fff;
}

/* Gaya untuk sidebar */
.sidebar {
    width: 250px;
    float: left;
    margin-right: 20px;
    position: sticky;
    top: 20px;
    height: 100vh; /* Tinggi sidebar mengikuti tinggi viewport */
    overflow-y: auto; /* Menampilkan scrollbar hanya jika kontennya melebihi tinggi viewport */
}

.sidebar-header {
    text-align: center;
    padding: 20px 0;
}

.sidebar-header img {
    width: 100%; /* Foto penuh lebar */
    max-width: 100px; /* Maksimum lebar foto */
    border-radius: 10px; /* Sudut foto ditumpulkan */
}

.sidebar-header h1 {
    margin-top: 10px;
    color: #007bff;
}

.sidebar {
    width: 250px;
    float: left;
    margin-right: 20px;
    position: sticky;
    top: 20px;
    overflow-y: hidden;
    height: 100%;
}

.sidebar-nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar-nav li {
    margin-bottom: 10px;
}

.sidebar-nav a {
    display: block;
    padding: 10px;
    color: #000;
    text-decoration: none;
    transition: color 0.3s; /* Tambahkan transisi warna */
}

.sidebar-nav a:hover {
    color: #007bff; /* Warna teks saat hover */
}

/* Gaya untuk site navigation */
.site-nav {
    text-align: center;
    margin-top: 20px; /* Atur jarak antara sidebar dan navigasi situs */
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    display: inline-block;
    margin-right: 10px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-link {
    color: #000;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #007bff;
}

.header:hover,
.sidebar:hover,
.site-nav:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.section:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Gaya tambahan untuk mode gelap */
.dark-mode {
    background-color: #333;
    color: #ddd;
}

/* Gaya tambahan untuk sidebar-nav saat mode gelap */
.dark-mode .sidebar-nav a {
    color: #ddd; /* Warna teks */
}

/* Gaya tambahan untuk sidebar-nav saat mode gelap saat dihover */
.dark-mode .sidebar-nav a:hover {
    color: #007bff; /* Warna teks saat hover */
}

.dark-mode .container,
.dark-mode .sidebar,
.dark-mode .site-nav {
    background-color: #222;
    color: #ddd;
    box-shadow: 0 0 10px #333;
}

.dark-mode .header,
.dark-mode .section {
    background-color: #333;
    color: #ddd; /* Ubah warna teks jika diperlukan */
}

/* Gaya tambahan untuk ikon mode gelap */
.dark-mode .mode-switcher button i {
    color: #fff;
    transition: color 0.3s;
}

.dark-mode .mode-switcher button:hover i {
    color: #007bff;
}

/* Gaya tambahan untuk judul h2 */
.section h2 {
    text-align: center; /* Judul terpusat */
    color: #007bff; /* Warna judul */
}

/* Gaya responsif untuk tablet/hp */
@media screen and (max-width: 768px) {
    .container {
        max-width: 100%; /* Container menjadi penuh lebar */
        border-radius: 0; /* Menghapus border-radius pada tampilan responsif */
    }

    .sidebar,
    .content {
        width: 100%; /* Sidebar, konten, dan navigasi menjadi penuh lebar */
        float: none; /* Sidebar tidak mengambang lagi */
        margin: 0; /* Menghapus margin untuk tampilan responsif */
    }

    .sidebar {
        width: 100%; /* Sidebar menjadi penuh lebar */
        float: none; /* Sidebar tidak mengambang lagi */
        position: relative; /* Mengubah posisi kembali ke relatif */
        top: auto; /* Menghapus nilai top */
    }

    .site-nav {
        margin-top: 20px; /* Atur jarak antara sidebar dan navigasi situs */
    }
}

/* Gaya tambahan untuk tombol hamburger menu */
.hamburger-menu {
    display: none; /* Sembunyikan tombol hamburger menu secara default */
    cursor: pointer;
    padding: 10px;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Tampilkan tombol hamburger menu saat mode responsif */
@media screen and (max-width: 768px) {
    .hamburger-menu {
        display: block; /* Tampilkan tombol hamburger menu */
    }

    .sidebar-nav {
        display: none; /* Sembunyikan daftar navigasi secara default */
    }

    .sidebar-nav.active {
        display: block; /* Tampilkan daftar navigasi saat tombol hamburger menu diklik */
    }
}


/* Gaya tambahan untuk judul h2 pada tampilan responsif */
.section h2 {
    text-align: center; /* Judul terpusat */
    color: #007bff; /* Warna judul */
    margin-bottom: 20px; /* Atur jarak antara judul dan konten */
}


/* Menyesuaikan jarak antara div dengan kelas section dan header */
.section {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

/* Padding untuk list di dalam section */
.section ul {
    padding-left: 20px;
}

/* Padding untuk list di dalam list */
.section ul ul {
    padding-left: 20px;
}

/* CSS untuk Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 800px;
    max-height: 80%;
}

/* CSS untuk menengahkan gambar dalam modal */
.modal-content img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}

/* CSS untuk menutup modal */
.close {
    color: #fff;
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    transition: color 0.3s;
    cursor: pointer;
}

.close:hover {
    color: #bbb;
}
